<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standup</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
</head>
<script src="/js/standup.js"></script>
<body>
    <h1>Neighbourhood Watch standup</h1>
    <div class="name-box" style="display: flex; flex-direction: row; justify-content: space-evenly;">
        {% for index in 0..grouped_names.len() %}
            <div id="group{{ index.to_string() }}" style="display:flex; flex-direction: column; justify-content: center;">
                {% for name in grouped_names[index] %}
                    <button class="button" id='{{ name }}' onclick="toggleState('{{ name }}')">{{ name }}</button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</body>
</html>